label {
  // width: 100%;
  margin-bottom: 10px;
  display: flex;
  > span {
    display: block;
  }
}
input,
select {
  // width: 100%;
  padding: 10px;
  border-radius: 0px !important;
  margin: 10px 20px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--gray);
}
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 0px;
  background-color: var(--white);
  color: var(--black);
  margin: 5px 0;
  border: 1px solid var(--gray);
}
.wpcf7-submit {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
  @media #{$sm} {
    max-width: 100%;
  }
}
.wpcf7-acceptance {
  label {
    font-size: 12px;
    display: flex;
    gap: 10px;
    align-items: flex-start;

    input {
      width: 20px;
    }
  }
}

.wpcf7-spinner {
  position: absolute;
}

.wpcf7-not-valid-tip {
  color: #dc3232;
  font-size: 12px;
  font-weight: normal;
  display: block;
}

.row-form {
  display: flex;
  flex-wrap: wrap;
  .col-1 {
    width: 100%;
    padding: 0 10px;
    @media #{$sm} {
      width: 100%;
    }
  }
  .col-2 {
    width: 50%;
    padding: 0 10px;
    @media #{$sm} {
      width: 100%;
    }
  }
  .col-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
  }
}

.select2-container--default .select2-selection--single {
  // background-color: var(--main);
  border: none !important;
  border-radius: 6px;
  min-height: 40px;
  // padding: 15px 10px;
  .select2-selection__rendered {
    padding-top: 5px;
    font-size: 14px;
    color: var(--black);
  }
  .select2-selection__arrow b {
    margin-top: 13px;
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100% !important;
  right: 7px !important;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: var(--main) !important;
}
.select2-results__option {
  font-size: 14px !important;
  line-height: 14px !important;
}
.select2-dropdown {
  border-color: var(--gray) !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 100px !important;
  padding: 0 10px;
}

#woocommerce-ordering-select,
#products_per_page {
  display: none;
}
